body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

h2 {
    color: #343a40;
}

form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

#question{
    width: 97%;
}

.ck-editor__editable {
    height: 300px;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
}
